*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #deb887;
    color: black;
    overflow: hidden;
}

.header h1 {
  height: 7vh;
  width: 100%;
  background-color: #16c47f;
  text-align: center;
  font-size: 2.5vw;         
  display: flex;            
  align-items: center;
  justify-content: center;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
}
 
.container{
  height: 90.7vh;
  width: 100vw;
  position: relative;
  border: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
  background-color: #c05518be;
}


.tooltip {
  position: absolute;
  background: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 999;
}


.work{
  height: 89vh;
  width: 66vw;
  position: relative;
  margin-top: 1vh;
  margin-left: 1vw;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
  /* padding: 1rem; */
}

.work #img1{
  height: 100%;
  width: 100%;
  position: absolute;
}

.work #img2{
  height: 20vh;
  width: auto;
  max-width: 100%;
  position: absolute;
  top: 37vh;
  left: 12vw;
  /* transform: translate(12vw,37.2vh); */
}


.work #img2:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.work #img2a{
  height: 22vh;
  max-width: 100%;
  position: absolute;
  top: 48vh;
  left: 10vw;
  z-index: 9;
}

.work #img2b{
  height: 22vh;
  width: auto;
  max-width: 100%;
  position: absolute;
  top: 48vh;
  left:10vw;
  z-index: 99;
}
.container .reading {
  height: 2.5vh;
  width: 2.5vw;
  color: red;
  position: absolute;
  top: 59.6vh;
  left: 14.3vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 14, 14, 0.8);
  font-size: 1.1vw; 
  border-radius: 0.3vw; /* Soft corners */
  box-sizing: border-box;
}

.work #img3{
  height: 18vh;
  max-width: 100%;
  position: absolute;
  top: 41vh;
  left:33vw;
  transform: rotate(50deg);
}

.work #img3:hover {
  cursor: pointer;
  transform: scale(1.1);
  position:absolute;
  top: 37vh;
  left:33vw;
}
 .work #img3a{
  height: 18vh;
  max-width: 100%;
  position: absolute;
  transform: translate(42.5vw, 48vh);
  cursor: pointer;
  z-index: 9;

}


@keyframes move {
  0% {
    transform: translate(42.5vw, 48vh);
  }
  14.2% {
    transform: translate(42.5vw, 35vh);
  }
   28.5% {
    transform: translate(33vw, 35vh);
  }
  42.8% {
    transform: translate(33vw, 44vh);
  }
  60% {
    transform: translate(33vw, 44vh);
  }
  71% {
    transform: translate(33vw, 35vh);
  }
  85% {
    transform: translate(42.5vw, 35vh);
  }
  100% {
    transform: translate(42.5vw, 48vh);
  }
}


.work #img3b{
  height: 18vh;
  max-width: 100%;
  position: absolute;
  transform: translate(28vw, 50vh);
  cursor: pointer;
}

.work #img4{
  height: 27vh;
  width: 7vw;
  max-width: 100%;
  position: absolute;
  top: 25vh;
  left: 27vw;
  
}

.work #img4:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.work #img4b{
  height: 27vh;
  width: 7vw;
  max-width: 100%;
  position: absolute;
  top: 38vh;
  left: 35vw;
  cursor: pointer;
}

.work #img4b:active {
    scale: 1.1;
    transition: 100ms;
}

.work #img5{
  height: 13vh;
  width: 2.5vw;
  position:absolute;
  max-width: 100%;
  top:40vh;
  left: 42vw;
}

.work #img5:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.work #img5b{
  height: 13vh;
  width: 2.5vw;
  position:absolute;
  max-width: 100%;
  transform: translate(53vw, 54vh);
  cursor: pointer;
}

.work #img8b{
  height: 13vh;
  width: 2.5vw;
  position:absolute;
  max-width: 100%;
  transform: translate(57vw, 54vh);
  cursor: pointer; 
  animation: none;
}

@keyframes move2 {
  0% {
    transform: translate(53vw, 54vh);
  }
  20% {
    transform: translate(53vw, 45vh);
  }
  40% {
    transform: translate(49vw, 45vh) rotate(-90deg);
  }
  50% {
    transform: translate(49vw, 45vh) rotate(-90deg);
  }
  80% {
   transform: translate(53vw, 45vh);
  }
  100% {
    transform: translate(53vw, 54vh);
  }
}


@keyframes move3 {
   0% {
    transform: translate(57vw, 54vh);
  }
  15% {
    transform: translate(56vw, 46vh);
  }
  40% {
    transform: translate(49vw, 45vh) rotate(-90deg);
  }
  60% {
    transform: translate(49vw, 45vh) rotate(-90deg);
  }
  80% {
   transform: translate(56vw, 46vh);
  }
  100% {
    transform: translate(57vw, 54vh);
  }
}

.work #img6{
  height: 13vh;
  width: auto;
  position:absolute;
  max-width: 100%;
  top:40vh; 
  left: 47vw;
}

.work #img6:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.work #img7{
  height: 13vh;
  width:auto;
  position:absolute;
  max-width: 100%;
  top:40vh; left: 53vw;
}
.work #img7:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.work #img7a{
  height: 13vh;
  width:auto;
  position:absolute;
  max-width: 100%;
  top:52vh; left:32vw;
  z-index: 9;
}

.work #img7b{
  height: 13vh;
  width:auto;
  position:absolute;
  max-width: 100%;
  transform: translate(45vw, 54vh);
  transition: all 2s ease-in-out;
  z-index: 2;
  cursor: pointer;
}

@keyframes move4 {
   0% {
    transform: translate(28vw, 50vh);
  }
  14.2% {
    transform: translate(28vw, 32vh);
  }
   28.5% {
    transform: translate(39vw, 32vh);
  }
  42.8% {
    transform: translate(39vw, 44vh);
  }
  60% {
    transform: translate(39vw, 44vh);
  }
  71% {
    transform: translate(39vw, 32vh);
  }
  85% {
    transform: translate(28vw, 32vh);
  }
  100% {
    transform: translate(28vw, 50vh);
  }
}
 
@keyframes move5 {
   0% {
    transform: translate(28vw, 50vh);
  }
  14.2% {
    transform: translate(28vw, 32vh);
  }
   28.5% {
    transform: translate(39vw, 32vh);
  }
  42.8% {
    transform: translate(39vw, 44vh);
  }
  60% {
    transform: translate(39vw, 44vh);
  }
  71% {
    transform: translate(39vw, 32vh);
  }
  85% {
    transform: translate(28vw, 32vh);
  }
  100% {
    transform: translate(28vw, 50vh);
  }
}

.work #img8{
  height: 13vh;
  width: 2.5vw;
  position:absolute;
  max-width: 100%;
  top:38vh;
  left: 44vw;
}

.work #img8:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.work #img9a{
  height: 7vh;
  width: 4.5vw;
  position: absolute;
  top: 40vh; 
  left: 41.5vw;
  transform: rotate(180deg);
  animation: blink 1s infinite;

}

.work #img9b{
  height: 7vh;
  width: 4.5vw;
  position: absolute;
  transition: all;
  transition-duration: 2s;
  visibility: visible;
  rotate: 180deg;
  transform: translate(-51.5vw, -44vh);
  animation: blink 1s infinite;
  z-index: 2;
}

@keyframes blink {
  0% {
     opacity: 1;
     }
  50% {
     opacity: 0; 
    }
  100% { 
    opacity: 1; 
  }
}

#instruction_h {
  min-height: 89vh;
  width: 25vw;
  background-color: #6495ed;
  margin-top: 1vh;
  margin-left: 0.9vw;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 1vh 1vw;
}


#instruction_h h1{
  background-color: #ff9c23d7;
  margin: 2vh 1vw;
  text-align: center;
  border: 1px solid black;
  font-size: 1.8vw; 
  padding: 1vh;
}

#instruction_h h2{
  background-color: cornflowerblue;
  margin: 2vh 1vw;
  text-align: center;
  font-size: 1.8vw;
  padding: 0.8vh;
}

/* From Uiverse.io */ 
.btn {
  position: absolute;
  bottom: 8vh;
  left: 61vw;
  font-size: 1.2rem;
  padding: 0.5rem 0.6rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: rgb(12, 12, 29);
  color: rgb(234, 234, 234);
  font-weight: 600;
  transition: 0.6s;
}

.btn:active {
    scale: 0.92;
    letter-spacing: 3px;
    transform: translateY(10px);
    transition: 100ms;
    text-decoration: none;
}

.btn:hover {
  box-shadow: 0px 0px 30px #0fc3d7f8;
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}


/* for wire */
